<div class="card mx-auto" style="width: 20rem; margin-top:20px;">
    <img src="{{foundRecipe.imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ foundRecipe.title }} </h5>
      <h3 class="card-title text-center">Ingredients</h3>
    </div>
    <ul class="list-group list-group-flush">
      {{#each foundRecipe.ingredients }}
      <li class="list-group-item"> 
        {{@index}} - {{ this }}
        <form action="/ingredients/{{@root.foundRecipe._id}}" method="POST">
            <input name="theIndex" id="" type="hidden" value="{{@index}}">
            <button onclick="return confirm('Are you sure you want to delete this item?');" class=" action-button shadow animate blue" style="float:right" >Remove</button>
        </form>
        </li>      
      {{/each}}
    </ul>
</div>