

  
<div class="card-deck" style="margin-top:20px">
     {{#each recipesFromDB}}
    <div class="card">
      <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ this.title }}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        <ul class="list-group list-group-flush">
          {{#each this.ingredients}}
            <li class="list-group-item"> 
              {{ [] }}
            </li>    
          {{/each}}  
        </ul>
        <br>

        
          <div class="card-text" style="float:right">
            {{#if this.isOwner}}
            <a href="/recipes/{{this._id}}/edit" class="action-button shadow animate blue">Edit Recipe</a>
            {{else}}
            <a href="/recipes/{{this._id}}/edit" class="action-button shadow animate blue disabled">Edit Recipe</a>
            {{/if}}
          </div>
        </div>
        <br>
    <p class="card-text text-right card-footer" ><small id="date" class="text-muted">{{this.updatedAt}}</small></p>

      </div>
    
      {{/each}}

</div>
    