<div class="container mx-auto" style="margin-top:20px;padding-right:0; padding-left:0">
  <div class="col align-self-center shadow-lg p-3 mb-5 bg-white rounded" id="edit-form" 
       style="background-image:linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.1)), url({{foundRecipe.imageUrl}})">
    <div class="card mx-auto col-sm-6" style="padding-right:0; padding-left:0">
      <img src="{{foundRecipe.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title card-header bg-transparent">{{ foundRecipe.title }}</h5>
        <br>
        <h6 class="card-subtitle mb-2 text-muted text-center">Ingredients</h6>
      
        <ul class="list-group list-group-flush">
          {{#each foundRecipe.ingredients }}
          <li class="list-group-item"> 
            {{ this }}
            </li>      
          {{/each}}
        </ul>

        <form action="/likes/{{foundRecipe._id}}" method="POST"> 
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                  <input type="hidden" value="{{foundRecipe.likes}}" name="likes" id="likesCount">
                  <button type="submit" class="button button-like" id="likes">
                  <i class="fa fa-heart"></i>
                      <span>Like</span>
                  </button>
                  <span class="badge badge-primary badge-pill" id="recipeLikes">{{counter}}</span>
            </li>
          </ul>
        </form>

      </div>
    </div>
  </div>
</div>